# Cache directory
.cache
playlist.m3u
light_epg.xml
channels.json
.hive/

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Node.js
node_modules/
bun.lock
package-lock.json
