name: Update IPTV Playlist

on:
  schedule:
    # Chạy tự động mỗi 12 tiếng
    - cron: '0 */12 * * *'
  
  workflow_dispatch: # Cho phép bấm nút chạy thủ công
  
  push:
    paths:
      - 'sources.txt' # Tự động chạy khi file này có thay đổi (Commit)

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run merge script
        run: python main.py

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Auto-update playlist.m3u [skip ci]"
          file_pattern: playlist.m3u
