name: Update IPTV Playlist

on:
  schedule:
    # Chạy tự động mỗi ngày vào lúc 00:00 UTC (7h sáng Việt Nam)
    - cron: '0 */12 * * *'
  workflow_dispatch: # Cho phép bấm nút chạy thủ công

permissions:
  contents: write # Cấp quyền ghi để action có thể commit file mới

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run merge script
        run: python main.py

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Auto-update playlist.m3u"
          file_pattern: playlist.m3u
